/* Empty. Add your own CSS if you like */
body ion-content{
    background-color: rgb(246,235,205); 
}

 body ion-content h4{
     margin-top: 3%;
     margin-left: 5%;
     margin-right: 5%;
    font-family: "Lucida Calligraphy", "Times New Roman";
    line-height: 150%;
}
body ion-content #kitty {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border:1px solid black;
    height:300px;
    width:300px;
  

}
  #columnLeft{
    float: left;
    width:50%;
    display:inline;
}
 #columnRight{
    display: inline;

   width:50%;
   padding-top: 50px;
   margin-left: 40%;
}
#row:after{
    clear:both;
}
#messageResult{
    clear: both;
    color: #B53396;
    font-family: Lucida Calligraphy;
    font-size: 150%;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 30px;
}

#puzzle{
    
     height:100%;
     width:100%;
}
body ion-content button{
    clear:both;
    width:150px;
    height: 80px;
    padding: 0px 20px;
    border-radius: 5px;
  
    width: 130px;


    display: block;
    margin-left: auto;
    margin-right: auto;
    
    background-color: #B53396;
    color: white;
    font-family: "Lucida Calligraphy", "Times New Roman";
  
}

body ion-content button:hover{
    background-color: white;
    color: #B53396;
}
 select{
    background-color: #B53396;
    color:white;
    margin-bottom: 3%;
 
}
#right{
    float: right;
    margin-right: 15%;
}
ol li{
    font-size: 150%;
   margin-left: 5%;
   margin-right: 5%;
   font-family: 'Times New Roman';
   line-height: 120%;
}